public net.minecraft.client.renderer.texture.TextureAtlas missingSprite
#public net.minecraft.core.Registry register(Lnet/minecraft/core/Registry;Lnet/minecraft/resources/ResourceLocation;Ljava/lang/Object;)Ljava/lang/Object;
public net.minecraft.client.Minecraft runTick(I)I

public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl <init>(Lnet/minecraft/client/resources/model/ModelBakery;Ljava/util/function/BiFunction;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.client.renderer.texture.atlas.SpriteSources register(Ljava/lang/String;Lcom/mojang/serialization/Codec;)Lnet/minecraft/client/renderer/texture/atlas/SpriteSourceType;
public net.neoforged.neoforge.client.model.generators.ModelBuilder textures
public net.minecraft.client.resources.model.ModelManager VANILLA_ATLASES
public net.minecraft.client.resources.model.AtlasSet atlases
public-f net.minecraft.client.resources.TextureAtlasHolder reload(Lnet/minecraft/server/packs/resources/PreparableReloadListener$PreparationBarrier;Lnet/minecraft/server/packs/resources/ResourceManager;Lnet/minecraft/util/profiling/ProfilerFiller;Lnet/minecraft/util/profiling/ProfilerFiller;Ljava/util/concurrent/Executor;Ljava/util/concurrent/Executor;)Ljava/util/concurrent/CompletableFuture;
public net.minecraft.client.resources.TextureAtlasHolder apply(Lnet/minecraft/client/renderer/texture/SpriteLoader$Preparations;Lnet/minecraft/util/profiling/ProfilerFiller;)V
public net.minecraft.client.renderer.texture.SpriteContents metadata
public net.minecraft.client.renderer.texture.SpriteContents animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents originalImage
public net.minecraft.client.renderer.texture.SpriteContents width
public net.minecraft.client.renderer.texture.SpriteContents height
public net.minecraft.client.renderer.texture.SpriteContents name
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frameRowSize
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture interpolateFrames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture getFrameX(I)I
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture getFrameY(I)I
public com.mojang.blaze3d.platform.NativeImage isOutsideBounds(II)Z
public net.minecraft.world.inventory.AbstractContainerMenu moveItemStackTo(Lnet/minecraft/world/item/ItemStack;IIZ)Z
public net.minecraft.world.inventory.AbstractContainerMenu remoteCarried


